html,
body {
  min-width: 1200px;
  min-height: 933px;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/*Header*/

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;

  transform: translateX(-50%);
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.site-navigation li {
  float: left;
  box-sizing: border-box;
  width: 240px;
  padding: 14px 0 16px;

  word-wrap: break-word;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 240px;
}

.site-navigation li:nth-child(4n+4) {
  padding-right: 72px;

  text-align: right;
}

.site-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: black;

  opacity: 0.3;
}

.site-navigation .current a {
  color: #766357;
}

/*header end*/
/*promo*/

.promo {
  max-height: 508px;
  margin-bottom: 60px;

  background-color: #cfddeb;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
}

.promo .promo-logo {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 22px;
}

/*promo end*/
/*features*/

.features {
  margin-bottom: 50px;

  text-align: center;
  word-wrap: break-word;
}

.features-title {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.features-text {
  margin-bottom: 51px;

  line-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  box-sizing: border-box;
  width: 400px;
  padding: 47px 46px 59px;

  background-color: #eeeeee;
}

.features-item-big {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.features-item-wrapper {
  box-sizing: border-box;
  width: 400px;
  padding: 47px 46px 59px;

  background-color: #81b3d2;
}

.features-item h3 {
  width: 151px;
  margin: 0 auto 24px;

  font-size: 21px;
  color: #000000;
}

.features-item span {
  display: block;
  margin-bottom: 21px;
}

.features-item p {
  width: 280px;
  margin: 0 auto;
}

.features-item-big p {
  width: auto;
}

.features-item img {
  width: 800px;
  height: 256px;
}

.features-item-big h3,
.features-item-big span,
.features-item-big p {
  color: #ffffff;
}

.usage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}

.usage-item {
  position: relative;

  width: 400px;
}

.usage-item::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 164px;

  width: 76px;
  height: 76px;

  background-image: url("../img/features-sprite.png");
  background-repeat: no-repeat;
}

.usage-item:nth-child(1)::before {
  background-position: -8px -96px;
}

.usage-item:nth-child(2)::before {
  background-position: -9px -5px;
}

.usage-item:nth-child(3)::before {
  background-position: -2px -192px;
}

.usage-list .usage-title {
  padding-top: 161px;

  color: #000000;
}

.usage-list .usage-text {
  width: 290px;
  margin-bottom: 82px;

  color: #333333;
}

/*features end*/
/*find-hotel*/

.find-hotel {
  position: relative;
}

.find-hotel h3 {
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.find-hotel .find-form-text {
  margin-bottom: 47px;

  line-height: 24px;
  text-align: center;
}
/*ВОПРОС про длинные слова в кнопке*/
.find-btn {
  display: block;
  box-sizing: border-box;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.find-btn:hover,
.find-btn:focus {
  background-color: #604e43;
}

.find-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: block;
  width: 100%;
  height: 593px;

  border: 0;
}

.find-hotel .map-image {
  z-index: 1;

  width: 1200px;
  height: 593px;
  margin: 0;
  padding: 0;
}

/*find-hotel end*/
/*footer*/

.main-footer {
  position: relative;

  line-height: 26px;
  color: #000000;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 120px;

  background-color: rgba(254, 254, 254, 0.9);
}

.footer-wrapper-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 120px;

  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.main-footer .footer-hashtag {
  overflow: hidden;

  font-weight: 700;
  font-size: 21px;
  text-align: center;
  color: #000000;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 0;

  list-style: none;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active,
.social-btn:active path {
  background-color: #5496bd;

  fill: rgba(255, 255, 255, 0.3);
}


.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.social-logo {
  margin-top: 6px;
  margin-left: 10px;
}

.social-logo:hover path,
.social-logo:focus path {
  fill: #81b3d2;
}

.social-logo:active path {
  fill: #bdbbbc;
}

/*footer-end*/
/*modal*/

.search-form {
  position: absolute;
  top: 241px;
  left: 50%;
  z-index: 4;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 568px;
  padding: 55px;

  word-wrap: break-word;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  transform: translateX(-50%);
}

.form-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 29px;
}

.form-item label {
  padding-top: 6px;

  font-weight: 700;
  line-height: 26px;
  color: #000000;
  letter-spacing: 0.2px;
}

.date-field {
  box-sizing: border-box;
  width: 346px;
  padding: 6px 50px 6px 13px;
}

.calendar-form {
  position: absolute;
  top: 0;
  right: 0;

  width: 38px;
  height: 38px;

  background-color: transparent;
  border: none;
}

.calendar-form path {
  fill: #cacaca;
}

.calendar-form:hover path,
.calendar-form:focus path {
  fill: #000000;
}

.calendar-form:active path {
  fill: #81b2d3;
}

.amount {
  width: 226px;
}

.person-amount {
  box-sizing: border-box;
  width: 38px;
  padding: 6px 15px;
}

.amount-wrapper {
  display: flex;
}
/*ВОПРОС про выравнивание полей в форме*/
.child-amount {
  padding-right: 26px;
  padding-left: 53px;
}

.count-btn {
  position: relative;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;
}

.count-btn-minus::before,
.count-btn-plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  transform: translate(-50%);
}

.count-btn-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 36%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.count-btn-minus:hover::before,
.count-btn-plus:hover::before,
.count-btn-plus:hover::after,
.count-btn-minus:focus::before,
.count-btn-plus:focus::before,
.count-btn-plus:focus::after {
  background-color: #000000;
}

.count-btn-minus:active::before,
.count-btn-plus:active::before,
.count-btn-plus:active::after {
  background-color: #81b3d2;
}

.search-btn {
  width: 100%;
  margin-top: 26px;
  padding: 16px 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.form-item input {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.form-item input:hover {
  background-color: #ebebeb;
}

.form-item input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

/*modal end*/
/*filters*/

.filter {
  padding: 27px 72px 31px 72px;

  background-color: #396184;
  background-image: url("../img/bg-hotels.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.checklist {
  float: left;
}

.filter .checklist {
  margin-right: 116px;
}

.checklist:nth-child(3n) {
  margin-right: 0;
}

.filter-range {
  float: right;
  /*width: 318px;*/
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
/*ВОПРОС про переполнение поля*/
.filters legend {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.2px;
}

.filter-item {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-item:last-child {
  margin: 0;
}

.filter-item label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked + label::before {
  display: none;
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.5;
}

.filter-input:focus + label {
  outline: 2px solid black;
}

.filters label {
  color: #ffffff;
}

/*range filter !!!CHECK!!!*/

.filter-range input {
  line-height: 21px;
  color: #ffffff;
}

.filter-range legend {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;

  width: 314px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  transform: translate(-50% -50%);
}

.price-controls label {
  display: inline-block;
  padding: 5px 0 4px 0;

  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  box-sizing: border-box;
  width: 50%;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 55px;
}

.price-controls input {
  width: 50px;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.3);
  cursor: pointer;
}

.range-toggle:hover {
  top: -10px;

  width: 4px;
  height: 4px;

  background-color: #1c4f80;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-search {
  display: block;
  max-width: 318px;
  margin: 0 auto;
  padding: 5px 34px 5px 34px;

  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-search:hover {
  color: #000000;

  background-color: #ffffff;
}

/*filter end*/
/*sort*/

.sort {
  padding: 30px 72px;

  border-bottom: 1px solid #e5e5e5;
}
/*ВОПРОС про вариант разметки блока*/
.sort h3 {
  float: left;
  margin: 0;
  margin-right: 48px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort p {
  float: left;
  margin: 0;
  margin-right: 39px;
  padding-top: 6px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
/*ВОПРОС про невидимый внешний отступ при отключении флоата*/
.sort-list {
  float: left;
  max-width: 670px;
  margin: 0;
  padding: 0;
  padding-top: 4px;

  list-style: none;
}

.sort-item {
  float: left;
  margin-right: 33px;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  border-bottom: 1px dotted #81b3d2;
  opacity: 0.3;
}

.sort-item-current a {
  color: #81b3d2;

  border: none;
  opacity: 1;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;

  opacity: 1;
}

.sort-item a:active {
  color: #000000;

  border: none;
}

.sort-arrows-list {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-arrows-item {
  padding-top: 5px;
  padding-right: 13px;
}

.sort-arrows-item:last-child {
  padding-right: 0;
}

.sort-arrows-item path {
  fill: #cacaca;
}

.sort-arrows-item path:hover,
.sort-arrows-item path:focus {
  fill: #000000;
}

.sort-arrows-item path:active {
  fill: #81b3d2;
}

.sort-arrows-current path {
  fill: #81b3d2;
}

/*sort end*/
/*catalog*/

.catalog {
  word-wrap: break-word;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 25px 72px 16px 72px;

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item .catalog-item-image {
  width: 135px;
  height: 90px;
  margin-top: 5px;
  margin-right: 30px;

  line-height: 0;
}

.catalog-item-description {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 365px;
}

.catalog-title {
  display: block;
  width: 100%;
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  letter-spacing: 0.2px;
}

.catalog-item p {
  margin: 0;
  margin-bottom: 14px;
}

.catalog-item-description .catalog-item-type,
.catalog-item-description .btn-more {
  min-width: 110px;
  margin-right: 6px;
}

.catalog-item-description .catalog-item-price,
.catalog-item-description .btn-booking {
  min-width: 142px;
}

.catalog-title:hover,
.catalog-title:focus {
  color: #81b3d2;
}

.catalog-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn {
  box-sizing: border-box;
  padding: 3px 16px 3px 16px;

  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.btn-more {
  background-color: #81b3d2;
}

.btn-booking {
  background-color: #766357;
}

.btn-more:hover,
.btn-more:focus {
  background-color: #669ec0;
}

.btn-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.btn-booking:hover,
.btn-booking:focus {
  background-color: #604e43;
}

.btn-booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  margin-left: auto;
}

.hotel-rating .stars {
  display: block;
  height: 17px;
  margin: 3px 0 47px auto;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.amara-stars {
  width: 89px;
}

.desert-stars {
  width: 65px;
}

.villas-stars {
  width: 41px;
}
/*ВОПРОС про переполнение*/
.hotel-rating .rating {
  display: block;
  padding: 4px 12px 3px 16px;

  color: #666666;

  background-color: #f2f2f2;
}
